.expense-item {
  margin: auto;
  background-color: #404069;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  gap: 20px;
}
.expense-date {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #2d2d30;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.expense-amount {
  border: 2px solid white;
  padding: 12px 25px;
  border-radius: 10px;
  background-color: #191978;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.delBtn {
  border: 1px solid white;
  outline: 0;
  padding: 6px 15px;
  border-radius: 10px;
  background-color: #2d2d30;
  font-size: 22px;
  font-weight: 600;
  color: red;
  font-weight: 700;
}
.delBtn:hover {
  background-color: #404043;
}
